.about {
  background: $secondary-background;

  @include contentPaddingInLine;
  @include contentPaddingBlock;

  &__title {
    margin-bottom: 25px;
  }

  &__description {
    margin-bottom: 15px;
  }

  &__button-play {
    margin-bottom: 80px;
  }

  &__title-text {
    margin-bottom: 11px;
    @include titleText;
  }

  &__second-title {
    margin-bottom: 22px;
  }
}
