.benefits {
  background: $secondary-background;
  @include contentPaddingInLine;
  @include contentPaddingBlock;

  &__title {
    margin-bottom: 32px;

    &::after {
      content: " KAT LOCO?";
    }
  }

  &__wrapper {

  }

  &__title-h3 {
    margin-bottom: 11px;
    @include titleH3;
  }
}
