.button-play {
  display: flex;
  align-items: center;
  width: $button-play-main-width + $button-play-line-mob-width;
  text-decoration: none;
  transition: 0.3s;

  @include onTablet {
    width: $button-play-main-width + $button-play-line-width;
  }

  &__img {
    position: relative;
    width: $button-play-main-width;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(../images/button/button-play/button-main.svg);

    &::before {
      @include buttonLine (12px);
    }

    &::after {
      @include buttonLine (56px);
    }
  }

  &__text {
    padding-left: 20px;
    color: $secondary-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
  }

  &:hover &__img {
    background-image: url(../images/button/button-play/button-main-hover.svg);
  }
}
