.faq {
  &__main {
    padding-block: 30px 13px;
    @include contentPaddingInLine;

    @include onTablet {
      padding-block: 51px;
    }

    @include onSmallDesktop {
      padding: 25px 90px 50px;
    }
  }

  &__title {
    margin-bottom: 30px;

    @include onSmallDesktop {
      margin-bottom: 50px;
    }
  }

  &__article-wrapper {
    display: flex;
    flex-direction: column;
    gap: 13px;

    @include onTablet {
      gap: 18px;
    }

    @include onSmallDesktop {
      gap: 15px;
    }
  }

  &__article {
    border-radius: 4px;
    border: 1px solid $third-color;
  }

  &__question-link {
    text-decoration: none;
  }

  &__question-wrapper {
    padding: 18px 12px;

    @include onTablet {
      padding-inline: 30px;
    }

    @include onSmallDesktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__question {
    color: $third-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  &__arrow-icon {
    display: none;

    @include onSmallDesktop {
      display: block;
    }
  }

  &__answer-wrapper {
    // display: none;
    padding: 0 12px 12px;

    @include onTablet {
      padding: 0 30px 20px;
    }
  }

  &__answer {
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 15px;
    }

    @include onSmallDesktop {
      margin-bottom: 20px;
    }
  }

  &__inf-of-update {
    color: $fifth-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;

    @include onSmallDesktop {
      font-size: 14px;
    }
  }

  &__more-link {
    display: none;

    @include onTablet {
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
  }
}
