.help {
  &__main {
    padding-block: 30px;
    @include contentPaddingInLine;
    @include pageGrid;

    @include onTablet {
      padding-block: 51px 124px;
    }

    @include onSmallDesktop {
      padding: 25px 90px 74px;
      grid-template-columns: repeat(8, 1fr);
    }
  }

  &__title {
    margin-bottom: 30px;
    grid-column: 1/-1;

    @include onSmallDesktop {
      margin-bottom: 50px;
    }
  }

  &__text {
    margin-bottom: 30px;
    grid-column: 1/-1;
  }

  &__text-link {
    text-decoration: none;
    color: $third-color;
  }

  &__links {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;

    @include onTablet {
      grid-column: 1/4;
      margin-bottom: 0;
    }
  }

  &__contact-links {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;

    @include onTablet {
      grid-column: 4/6;
    }
  }

  &__link {
    align-self: flex-start;
    text-decoration: none;
    color: $third-color;
  }

  &__contact-link {
    align-self: flex-start;
    text-decoration: none;
    color: $main-color;
    line-height: normal;

    &--tel {
      margin-bottom: 11px;

      @include onTablet {
        margin-bottom: 25px;
      }
    }

    &--email {
      margin-bottom: 8px;

      @include onTablet {
        margin-bottom: 24px;
      }
    }
  }
}
