.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: $main-button-height-mob;
  border-radius: 4px;
  background-color: $third-color;
  transition: 0.3s;

  color: $secondary-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;

  @include onTablet {
    width: 458px;
    height: $main-button-height;
    font-size: 16px;
  }

  @include onSmallDesktop {
    width: 200px;
    height: $main-button-height;
    font-size: 16px;
  }

  &--form {
    grid-column: 1 / -1;
    border: none;
    padding: 0;
    font-family: inherit;
    cursor: pointer;

    &--contact {
      @include onTablet {
        width: 200px;
      }
    }

    &--order {
      margin-top: 4px;

      @include onTablet {
        margin-top: 14px;
        justify-self: center;
      }

      &--pay {
        @include onTablet {
          margin-top: 58px;
        }
      }
    }
  }

  &:hover {
    background-color: $secondary-color;
    color: $third-color;
  }

  &:active {
    background-color: $fourth-background;
    color: $fourth-color;
  }
}
