.menu {
  background-color: $main-background;
  height: 100vh;

  @include onTablet {
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__container {
    @include onTablet {
      background-color: $main-background;
    }
  }
}
