.tech {
  @include pageGrid;
  row-gap: 45px;
  background-color: $third-background;

  @include contentPaddingInLine;
  padding-block: 50px;

  @include onTablet {
    padding-block: 80px;
    row-gap: 65px;
  }

  @include onSmallDesktop {
    row-gap: 141px;
    padding-block: 100px;
  }

  &__title {
    grid-column: 1 / -1;

    @include onSmallDesktop {
      justify-self: end;
    }
  }

  &__img {
    position: relative;
    grid-column: 1 / -1;
    justify-self: center;
    background-image: url(../images/tech/tech-main.png);
    width: 197px;
    height: 195px;
    background-size: contain;

    @include onTablet {
      width: 358px;
      height: 354px;
    }

    @include onSmallDesktop {
      grid-column: 5 / 9;
      justify-self: start;
      width: 298px;
      height: 295px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 2px;
      width: 188px;
      height: 188px;
      border-radius: 189px;
      border: 4px solid #0e0c1e;

      @include onTablet {
        content: "";
        left: 3px;
        width: 345px;
        height: 345px;
        border-radius: 345px;
        border-width: 6px;
      }

      @include onSmallDesktop {
        content: "";
        left: 3px;
        width: 287px;
        height: 287px;
        border-radius: 287px;
      }
    }

    &::after {
      @include onSmallDesktop {
        content: "";
        position: absolute;
        top: 38px;
        left: -12px;
        transform: rotate(1.7deg);
        background-repeat: no-repeat;
        background-image: url(../images/tech/tech-line-left-second.svg);
        width: 50px;
        height: 201px;
      }
    }
  }

  &__button {
    @include iconProperties;
    position: absolute;
    background-image: url(../images/button/button-tech_specs/button-open.svg);
    width: 34px;
    height: 34px;
    outline: none;

    @include onTablet {
      width: 62px;
      height: 62px;
    }

    @include onSmallDesktop {
      display: none;
    }

    &--top {
      top: -11px;
      left: 60px;

      @include onTablet {
        top: -27px;
        left: 65px;
      }
    }

    &--right {
      top: 80px;
      right: 29px;

      @include onTablet {
        top: 145px;
        right: 49px;
      }
    }

    &--left {
      left: -17px;
      bottom: 8px;

      @include onTablet {
        left: -58px;
        bottom: 19px;
      }
    }

    &--pressed {
      background-image: url(../images/button/button-tech_specs/button-close.svg);
      opacity: 0;
      pointer-events: none;
      transition: 0.3s;

      &:target {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__article-top {
    position: absolute;
    top: 24px;
    left: -52px;
    display: none;

    @include onTablet {
      top: 37px;
      left: -52px;
    }

    @include onSmallDesktop {
      display: block;
      top: -60px;
      left: -356px;
    }

    &::before {
      @include onSmallDesktop {
        content: "";
        position: absolute;
        top: 7px;
        left: 101px;
        @include iconProperties;
        background-image: url(../images/tech/tech-line-top.svg);
        width: 403px;
        height: 72px;
      }
    }
  }

  &__article-right {
    position: absolute;
    width: 185px;
    height: 107px;
    top: 34px;
    left: -52px;
    display: none;

    @include onTablet {
      height: auto;
      width: 365px;
      left: -120px;
      top: 65px;
    }

    @include onSmallDesktop {
      display: block;
      top: -60px;
      left: 361px;
    }

    &::before {
      @include onSmallDesktop {
        content: "";
        position: absolute;
        top: 7px;
        left: -209px;
        @include iconProperties;
        background-image: url(../images/tech/tech-line-right.svg);
        width: 192px;
        height: 245px;
      }
    }
  }

  &__article-left {
    position: absolute;
    top: 63px;
    left: -60px;
    display: none;

    @include onTablet {
      top: 162px;
      left: -90px;
    }

    @include onSmallDesktop {
      display: block;
      top: 156px;
      left: -271px;
    }

    &::before {
      @include onSmallDesktop {
        content: "";
        position: absolute;
        top: -100px;
        left: 140px;
        @include iconProperties;
        background-image: url(../images/tech/tech-line-left.svg);
        width: 134px;
        height: 113px;
      }
    }
  }

  &__description {
    background-color: $fourth-background;
    font-size: 12px;
    line-height: 150%;
    border-radius: 4px;
    padding: 15px 10px 20px;

    @include onTablet {
      font-size: 15px;
      border-radius: 6px;
      padding: 18px 12px 23px;
    }

    @include onSmallDesktop {
      background-color: transparent;
      font-size: 16px;
      padding: 0;
    }
  }

  &__scrollbar {
    overflow-y: auto;
    height: 72px;
    padding-right: 10px;

    &::-webkit-scrollbar {
      width: 1px;
    }

    &::-webkit-scrollbar-track {
      background: #014954;
    }

    &::-webkit-scrollbar-thumb {
      background: $third-color;
    }

    @include onTablet {
      height: auto;
      padding: 0;
    }
  }

  &__title-h3 {
    display: none;

    @include onSmallDesktop {
      display: block;
      margin-bottom: 21px;
      @include titleH3;
    }
  }
}
