.title {
  color: $secondary-color;
  font-size: 21px;
  font-weight: 900;
  line-height: 130%;

  &--h1 {
    font-size: 26px;
  }

  &__accented {
    color: $third-color;
    font-weight: 400;
  }
}
