@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onSmallDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin onBigDesktop {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin contentPaddingInLine {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 34px;
  }

  @include onSmallDesktop {
    padding-inline: 110px;
  }
}

@mixin contentPaddingBlock {
  padding-block: 50px;

  @include onTablet {
    padding-block: 70px;
  }

  @include onSmallDesktop {
    padding-block: 100px;
  }
}

@mixin buttonLine ($topDistance) {
  position: absolute;
  top: $topDistance;
  left: 87px;
  content: "";
  display: block;
  width: $button-play-line-mob-width;
  height: 2px;
  background-image: url(../images/button/button-play/button-line-mob.svg);

  @include onTablet {
    width: $button-play-line-width;
    background-image: url(../images/button/button-play/button-line.svg);
  }
}

@mixin titleH3 {
  color: $secondary-color;
  font-size: 18px;
  font-weight: 900;
  line-height: normal;
}

@mixin titleText {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: $third-color;
}

@mixin pageGrid {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 6;
  }

  @include onSmallDesktop {
    --columns: 12;
  }
}

@mixin hover ($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin iconProperties {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
