$main-background: #191536;
$secondary-background: linear-gradient(135deg, $main-background 0%, #000 100%);
$third-background: #05040b;
$fourth-background: #191536;

$main-color: #929292;
$secondary-color: #fff;
$third-color: #05c2df;
$fourth-color: #2f2f2f;
$fifth-color: #545454;

$button-play-main-width: 90px;
$button-play-line-mob-width: 135px;
$button-play-line-width: 162px;

$main-button-height-mob: 40px;
$main-button-height: 48px;
